<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
</head>

<body>
    <a href="/order">Back</a>
    <h1>Order id:
        <%=order.id%>
    </h1>
    <h2>Meat:
        <%=order.meat%>
    </h2>
    <h2>Quantity:
        <%=order.quantity%>
    </h2>
    <p>
        <%=order.comment%>
    </p>
    <a href="<%=order.id%>/edit">Edit Order</a>
    <form method="POST" action="/order/<%= order.id %>?_method=DELETE">
        <button>Delete</button>
    </form>
</body>

</html>