<%- include('partials/head.ejs')%>

    <body>

        <%- include('partials/navbar.ejs')%>


            <h1>Browsing the
                <%=data.name%> subreddit</h1>
            <h2>
                <%=data.description%>
            </h2>
            <p>
                <%=data.subscribers%> Total Subscribers
            </p>
            <hr>
            <%for(let post of data.posts){%>
                <p>
                    <%=post.title%>
                        - <b><%=post.author%></b>
                </p>
                <hr>
                <%if(post.img !== undefined){%>
                    <img src="<%=post.img%>" alt="">
                    <%}%>
                        <%}%>
    </body>

    </html>