<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>

<body>
    <h1>Edit Product</h1>
    <form action="<%=`/products/${product.id}?_method=PUT`%>" method="POST">
        <section>
            <label for="name">Product Name</label>
            <input type="text" name="name" id="name" value="<%= product.name%>" required>
        </section>
        <section>

            <label for="price">Price</label>
            <input type="number" name="price" id="price" value="<%= product.price%>">
        </section>
        <section>

            <label for="category">category</label>
            <select name="category" id="category" selected>
                <option value="vegetable" <%= product.category === "vegetable"  ? "selected" : '' %> >Vegetable</option>
                <option value="fruit" <%= product.category === "fruit" ? "selected" : '' %> >Fruit</option>
                <option value="dairy" <%= product.category === "dairy" ? "selected" : '' %> >Dairy</option>
            </select>
        </section>
        <button type="submit">Submit</button>
    </form>
        <a href="<%= `/products/${product.id}`%> ">Back</a>
        <a href="/products">All Products</a>
</body>

</html>